.neuton-regular {
  font-family: "Neuton", serif;
  font-weight: 400;
  font-style: normal;
}

.neuton-bold {
  font-family: "Neuton", serif;
  font-weight: 700;
  font-style: normal;
}

.neuton-regular-italic {
  font-family: "Neuton", serif;
  font-weight: 400;
  font-style: italic;
}
 
html {
  font-size: 32px;
  font-family: "Neuton", serif;
  font-weight: 400;
  font-style: italic;
  color: White;
}


h1 {
  font-size: 60px;
  margin: 0;
  padding: 20px 0;
  text-align: center;
}

p,
li {
  font-size: 32px;
  line-height: 2;
  letter-spacing: 1px;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: #ff9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

.button {
  background-color: #04AA6D; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  
  font-size: 24px;
  border-radius: 4px;
  border: 2px solid White;
}

.button:hover {
  background-color: Grey; 
  color: white;
}

